@import url('https://fonts.googleapis.com/css?family=Rammetto+One&effect=outline');

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/coffeerepeat.jpg')
}

a {
  color: #00B7FF;
}

h1 {
  font-family: 'Rammetto One', cursive;
  color: goldenrod;
}

.panel > .panel-heading {
    background-image: none;
    background-color: goldenrod;
    color: white;

}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}

.white {
  color: white;
}